<div class="col-xs-5">
    <div class="panel panel-default">
        <div class="panel-heading list-group-item clearfix">
            <h3 class="list-group-item-heading"></h3>
            <div class="pull-right">
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </div>
        </div>
        <div class="panel-body">
            <p><strong>Email:</strong></p>
            <p><strong>Phone:</strong></p>
        </div>
    </div>
</div>